.footer{
    background-color: #ffffff87;
    color: black;
    display: grid;
    margin: 0%;
    border-top: 2px dashed black;
    padding: 3% 0 0%;
    height: 45vh;
    gap: 4%;
}

.divFooter{
    padding: 0 3%;
}

.divFooter p{
    font-family: roboto;
}

.titleFooter{
    font-family: roboto;
    text-decoration: underline;
}

.buttonFooter{
    padding: 0;
    border: none;
    background: none;
}

.buttonFooter svg{
    font-size: 2em;
}

.developedBy{
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.developedBy p{
    margin: 0;
}

.developedBy img{
    width: 100%;
}

.anchorLogo{
    width: 20%;
    height: 100%;
}