.containerNavbar{
    display: grid;
    grid-template-columns: 1fr 4fr;
    position: fixed;
    z-index: 90000000;
}

.navbarSection{
    display: flex;
    justify-content: right;
    padding: 0 5%;
}

.navbarTogglerButton{
    margin: 0;
}

.collapsable{
    position: absolute;
    right: -100%;
    top: 100%;  
    transition: 1s; 
    width: 100%;  
    justify-content: center;
    align-items: center;
    display: grid;
    height: 30vh;
    padding: 5%;
    background-color: #212529!important;
   
}

.collapsableTrue{
    transition: 1s;
    font-size: 17px;
    position: absolute;
    top: 100%;
    right: 0;
    width: 70%;
    background-color: #212529!important;
    height: 30vh;
    display: flex;
    padding: 5% 0;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.navbarOption{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.PnavbarOption{
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-family: roboto;
}

.optionNavbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.PnavbarOption svg{
    margin-right: 1%;
}