.imgWord{
  position: absolute;
  color: white;
  top: 50%;
  font-size: 25px;
  margin: auto;
  right: 0;
  left: 0;
  text-align: center;
}

.shadow{
  background-color: #00000042;
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
}

.slogan{
  font-family: robot;
  text-align: center;
  margin: 5%;
}

.secondSlogan{
  text-align: center;
  margin: 25% 0 0;
  width: 100%;
}

.productList{
  background-color: #212529;
  color: white;
  font-family: roboto;
  padding: 5%;
  padding-bottom: 15%;
}

.productList h3{
  margin-bottom: 5%;
}

.containerListItems{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5%;
}

.cardTitle{
  color: black;
  text-align: center;
  margin: 2%;
  font-size: 16px;
}