
.firstContainer {
  overflow: hidden;
}

#containerList{
  margin-top: 10vh;
}

.header {
  background-color: #101214d9;
  height: 10vh;
  transition: 0.15s ease-in ;
  position: sticky;
  z-index: 90000000;
}

.containerOp{
  opacity: 0;
  transition: 0.15s ease-in ;
}

.backToHome {
  margin: 3rem 0 0;
}

@media (min-width:768px) {
.header{
  height: 8vh;
}
}